@tailwind base;
@tailwind components;
@tailwind utilities;

ul, li {
  margin: 0 !important;
}

.header {
  background-image: url('https://images.unsplash.com/photo-1597738755960-aeab75744b5e');
  background-position: center center;
  background-size: cover;
}