.auth-container {
  flex-direction: column;
  display: flex;
  height: 100%;

  @media (min-width: 992px) {
    flex-direction: row;
  }
}

.auth-banner:before {
  background: #396afc; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2948ff,
    #396afc
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2948ff,
    #396afc
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position: absolute;
  width: inherit;
  opacity: 0.44;
  height: 14.5em;
  content: "";
  right: 0;
  left: 0;

  @media (min-width: 992px) {
    height: 100vh;
  }
}

.auth-banner {
  background: url("https://images.unsplash.com/photo-1687786283099-5dc922780080");
  background-repeat: no-repeat;
  background-size: cover;
  height: 20em;
  width: 100vw;

  @media (min-width: 992px) {
    height: 100vh;
    width: 33%;
  }
}

.auth-form {
  justify-content: center;
  flex-direction: column;
  display: flex;
  height: 100%;

  @media (min-width: 992px) {
    width: 66%;
  }
}

.auth-form-form {
  border: 2px solid #396afc;
  background: white;
  border-radius: 2px;
  padding: 20px;
  margin: auto;
  width: 300px;
}
