.auth-container {
  justify-content: center;
  flex-direction: column;
  display: flex;
  height: 100%;
}

.auth-form {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background: white;
  padding: 20px;
  margin: auto;
  width: 300px;
}
