body {
  background-color: #f4f4f4;
  font-family: Arial, sans-serif;
  padding: 20px;
  margin: 0;
}

h1 {
  margin-bottom: 20px;
  text-align: center;
}

table {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto 20px;
  border-collapse: collapse;
  background-color: #fff;
  border: 1px solid #ddd;
}

th,
td {
  text-align: center;
  padding: 20px;
  border: 1px solid #ddd;
  cursor: pointer;
  width: 14.28%; /* 100/7 days of the week */
}

th {
  background-color: #f0f0f0;
}

td {
  background-color: #f9f9f9;
}

td:hover {
  background-color: #e0e0e0;
}

.pagination {
  text-align: center;
  margin: 20px 0;
}

.pagination a {
  margin: 0 10px;
  text-decoration: none;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.pagination a:hover {
  background-color: #0056b3;
}

.form-popup {
  display: none; /* Hidden by default */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ddd;
  padding: 20px;
  background-color: white;
  z-index: 10;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.form-popup input,
.form-popup textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
}

.form-popup button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.form-popup button.close {
  background-color: #ccc;
  margin-right: 10px;
}
