.notification-banner {
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  padding: 0.5rem;
  display: flex;
}

.alert {
  border-radius: 4px;
  padding: 0.5rem;
  color: white;
  width: 100%;

  a {
    text-decoration-thickness: 0.1rem;
    text-underline-offset: 0.25rem;
    color: white;

    &:hover {
      text-decoration: underline;
    }
  }

  &.alert-success {
    background-color: #15803d; /* 700 */
    border: 2px solid #14532d; /** 900 */
  }

  &.alert-danger {
    background-color: #b91c1c; /* 700 */
    border: 2px solid #7f1d1d; /** 900 */
  }

  &.alert-warning {
    background-color: #a16207; /* 700 */
    border: 2px solid #713f12; /** 900 */
  }

  &.alert-info {
    background-color: #1d4ed8; /* 700 */
    border: 2px solid #1e3a8a; /** 900 */
  }
}

.close-btn {
  position: absolute;
  font-size: 1.5rem;
  cursor: pointer;
  color: white;
  right: 2rem;

  &:hover {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 0 0.25rem;
  }
}
